.form {
    width: calc(100% - calc(var(--ui-padding) * 2));
    padding: 30px var(--ui-padding) var(--ui-padding) var(--ui-padding);
    border: 1px solid var(--light-color);
    border: 1px solid var(--grey-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 15px;
    position: relative;
    background-color: #fff;

    &_top {
        width: 100%;
        text-align: center;
        font-family: inter;
        font-weight: 600;
        font-size: 1.2em;
    }

    &_middle {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    &_bottom {
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: flex-end;
    }

    &_cross {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: var(--ui-padding);
        right: var(--ui-padding);
        cursor: pointer;
        background-color: #fff;
        border: none;
    }

}